html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.62;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}


.title {
  font-size: 4em;
}

#play-button, #pause-button {
  text-align: center;
  /*display: none;*/
}

.spinner {
  display: none;
  margin: 5%;
}

.play-pause {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 48px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  margin: 20px;
  border: solid 1px #94F9CC;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #94F9CC;
  box-shadow: 0 0 5px 1px #94F9CC;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

.speed-span {
  color: #D2FDE9;
}

button:focus {
  outline: none
}

button {
  color: #94F9CC;
  border: solid 5px #94F9CC;
  background: rgba(0,0,0,0);
}

button:active,
button.active {
  color: #6496c8;
  border: solid 5px #6496c8;
}

button:disabled,
button.disabled,
button.disabled.hover,
button:disabled:hover {
  border-color: #D2FDE9;
  color: #D2FDE9;
}

button:hover,
button.hover {
  border-color: #9999FF;
  color: #9999FF;
}

input[type="range"]{
  -webkit-appearance:none;
  width:160px;
  height:20px;
  margin:10px 50px;
  background: linear-gradient(to right, #9999FF 0%, #94F9CC 100%);
  background-size:150px 10px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
}

input[type="range"]:first-of-type{
  margin-top:30px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  background:#9999FF;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width:160px;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: #9999FF;
  background: linear-gradient(to right, #94F9CC 1%, #9999FF 70%);
}
